.reg{
    color: blue;
}
div{
    padding-bottom: 5px;
}
div{
    color:crimson;
}
.form-check{
    margin-top: 2px;
    margin-bottom: 2px;
}
.gender{
    padding-left: 13px;
    padding-right:5px ;
}
#adgust{
    padding-left: 15px;
}
